
.first-component {
    background: linear-gradient(135deg,#35aef8,#7681ff 76%,#7681ff 0);
    height: 900px;
    width: 100%;
    color:#fff;  
    font-weight: 350;
    padding-top: 150px;
    font-size: 18px;
}

.first-component-wrapper {
    width: 80%;
    padding:2rem; 
    margin: auto;
}
.first-component h1 {
    color:#fff; 
    font-size: 3rem;
    font-weight: 100;
}
.service-component {
    background: #fff;
    padding-top: 100px;
    height: 800px;
}

.ant-menu-transparent {
    background: none!important;
    color: #fff!important;
    position: absolute!important;
    border:none!important;
}

.ant-menu-item:hover {
    border-bottom:none!important;
}

.ant-menu-transparent .ant-menu-item:hover.ant-menu-item-active{
    color:#e8e8e8!important;
    border-bottom:none!important;
}

.ant-menu-transparent .ant-menu-item:hover a {
    color:#e8e8e8!important;
    border-bottom:none!important;
}

.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
    border-bottom: none!important;
}

.logo {
    font-size: 1.3rem;
    width: 230px;
    margin: 0 100px;
}

.logo p {
    font-weight: 300;
    float: left;
    margin-bottom: 0;
}
.logo img{
    margin-right: 20px;
    width: 60px;
    float: left;
}

.footer{
    color: #fff;
    min-height: 300px;
    background: #000;
    padding-top: 50px;
}

.footer-content {
    width: 60%;
    margin: auto;
}

.footer-content a{
    color: #fff;
}
.footer-content strong {
    font-size: 1.1rem
}

.ant-layout-content {
    min-height: 50rem;
}

.ant-menu-transparent .ant-menu-item  a{
    color:#fff!important
}

.home-card {
    border:1px solid #e8e8e8;
    height: 20rem;
    width:92%;
    margin:0 auto;
    background: #35aef8;
    color:#fff;
    text-align: center;
}

.home-card:hover {
    cursor: pointer;
    box-shadow:0 8px 40px rgba(0, 0, 0, 0.15);
}

.iot-component {
    background-color:rgb(22, 22, 39);
    min-height: 50rem;
    position: relative;
    color:#fff;
    text-align: center;
    padding-top: 50px;
}

.iot-component h1 {
    color:#fff
}

.iot-component p {
   font-size: 2rem;
   font-weight: 100;
}

.truck {
    width: 500px;
    position: absolute;
    bottom: -12%;
    right: 25%;
}

.non-found {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: #e8e8e8;
    padding-top: 5rem;
}

.non-found h1 {
    font-size: 6rem;
    color: #4ca498;
}

.non-found h2 {
    font-size: 2rem;
}

.login {
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
    position: absolute;
    background:url('/static/images/kindle-bc.jpg') no-repeat center center;
}

.login-form {
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    color:#fff;
    z-index: 100;
}

.login-form h1 {
    color:#fff;
    font-weight: 200;
}
.login-icon {
    width: 160px;
    display: block;
    margin:10px auto;
}

.login-form form {
    margin:20px auto;
    color:#484848;
    width: 280px;
    height: 36px;
}

.login-form button {
    width: 280px;
}

.login-form a {
   color:#fff;
}

.login-keep {
    margin:30px 0
}

.first-component button {
    outline: none;
    margin:30px 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    background: none;
    color:#fff;
    height: 40px;
    cursor: pointer;
    padding:5px 20px;
}

.house {
    margin: 20px auto;
    width: 1200px;
    height: 700px;
    overflow: hidden;
    background: url("/static/images/house.jpg") no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

#order-content {
    width: 900px;
    margin: 20px auto;
}

.goods-header {
    background-color: #e8e8e8;
    padding: 10px;
    height: 50px;
    line-height: 30px;
    color: #838383
}

.select-box {
    border: 1px solid #ccc;
    margin: 5px;
    text-align: center; 
}

.select-box-active {
    border: 2px solid red;
    margin: 5px;
    text-align: center; 
}
.select-box:hover {
    border: 2px solid red;
    cursor: pointer;
}

.goods-btn-empty {
    border: 1px solid #FF0036;
    width: 180px;
    height: 40px;
    font-size: 16px;
    background-color: #ffeded;
    color:#FF0036;
    margin:10px auto;
    outline: none;
}

.goods-btn-empty:hover{
    cursor: pointer;
}

.goods-tag {
    border-radius: 0;
    height: 30px;
    line-height: 30px;
    min-width: 50px;
}